@page
@model IndexModel
@using PagedList.Mvc

@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">@Model.Messsage</h1>
    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@

    <table class="tableUserComments" id="myTable" border="1">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Email
                </th>
                <th>
                   Body
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.userComments)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.body)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
